{% extends 'base.html.twig' %}

{% block title %}Kasa{% endblock %}

{% block stylesheets %}

<style>
  * {
    box-sizing: border-box;
  }

  body {
    font: 16px Arial;
  }
</style>
{% endblock %}

{% block body %}

<div class="container-responsive">
  <div class="row">
    <div class="col">
      <h1>Obliczanie dystansu</h1>
    </div>
  </div>
<div class="row">
  <div id="left" class="col-8">
    {{ form_start(form) }}
    <div class="row">
    <div class="col-5">
    {{ form_row(form.station1) }}
    </div>
    <div class="col-2 text-center align-middle">
      <h2>→</h2>
    </div>
    <div class="col-5">
    {{ form_row(form.station8) }}
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form_row(form.station2) }}
        {{ form_row(form.station4) }}
        {{ form_row(form.station6) }}
      </div>
      <div class="col-6">
        {{ form_row(form.station3) }}
        {{ form_row(form.station5) }}
        {{ form_row(form.station7) }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ form_row(form.submitBtn)}}
        {{ form_row(form.clearBtn)}}
      </div>
    </div>
    {{ form_end(form) }}

    {% if formdata %}

    {% for rs in routeStations %}
    {% if loop.first or loop.last %}<b>{% endif %}{{rs}}{% if loop.first or loop.last %}</b>{% endif %}
    {% if not loop.last %} - {% endif %}
    {% endfor %}
    <br />
    Kilometrów: {{ routeKilometers }} ({% if routeKilometers > 0.5 %}{{ routeKilometers|round }}{% else %}1{% endif %})
    {% endif %}


  </div>
  <div class="col-4" id="right" style="border-left: 1px solid black;">
    Stacje
    <div id="completionBox" style="width: 100%; overflow-x: scroll; background-color: silver;">
    <ul>
    {% for station in sl %}
    <li>{{ station }}</li>
    {% endfor %}
    </ul>
    </div>
  </div>
</div>
</div>


<datalist id="stationsDatalist">
  {% for station in sl %}
    <option value="{{ station }}">
  {% endfor %}
</datalist>
{% endblock %}
  {% block javascripts %}
  <script>
  </script>
  {% endblock %}