{% extends 'base.html.twig' %}

{% block title %}Zmyślone Tablice Relacyjne{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ dane.templateType }}.css" />
{% endblock %}

{% block body %}
<table>
    <tr id="titlebar">
        <td>
            <h1 id="trainNo" style="color: {{ dane.numberColor }};">{{ dane.trainNo }}</h1>
        </td>
        <td>
            <h1 id="trainName" style="color: {{ dane.nameColor }};">{{ dane.trainName }}</h1>
        </td>
    </tr>
    <tr id="firstStationRow">
        <td colspan="2" id="hr"><h1 id="firstStation">{{ dane.firstStation }}</h1></td>
    </tr>
    <tr>
        <td colspan="2" id="stations">
            <p>

        {% for station in dane.st %}
            {% if loop.index0 in stationsBold %}<b>{% endif %}{{ station }}{% if loop.index0 in stationsBold %}</b>{% endif %} {% if not loop.last %} - {% endif %}
        {% endfor %}

            </p>
        </td>
    </tr>
    <tr id="lastStationRow">
        <td colspan="2"><h1 id="lastStation">{{ dane.lastStation }}</h1></td>
    </tr>
</table>
{% endblock %}
