<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: black;
            color: yellow;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            text-align: center;
        }

        th {
            width: 14.2%;
            border-color: black;
        }

        td {
            background-color: navy;
            color: white;
            border-color: navy;
        }

        td.trainName {
            background-color: white;
            color: navy;
        }

    </style>
</head>
<body>
<div class="topTable">
    <h1>Odjazdy <i>Departures</i></h1>
</div>
<div class="contentTable">
    <table>
        <tr>
            <th>Czas</th>
            <th>Pociąg</th>
            <th>Do</th>
            <th>Przez</th>
            <th>Przewoźnik</th>
            <th>Peron</th>
            <th>Uwagi</th>
        </tr>
        <tr>
            <th><i>Time</i></th>
            <th><i>Train</i></th>
            <th><i>Destination</i></th>
            <th><i>Via</i></th>
            <th><i>Operator</i></th>
            <th><i>Platform</i></th>
            <th><i>Remarks</i></th>
        </tr>

        {% for tr in trainsInfo.trains %}
            <tr>
                <td>{{ tr.scheduleTime|date('H:i') }}</td>
                <td class="trainName">
                    <marquee>{{ tr.trainNo }} {{ tr.trainName }}</marquee>
                </td>
                <td>{{ tr.to }}</td>
                <td>
                    <marquee>{% for trvia in tr.via %}{{ trvia }}, {% endfor %}</marquee>
                </td>
                <td>{{ tr.company }}</td>
                <td>1</td>
                <td>{% if tr.delayTime > 0 %}
                    <marquee> Opóźniony/Delayed {{ tr.delayTime }} min {% endif %}</marquee>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>